@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jomolhari&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jomolhari&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    
    font-family: "Inter", sans-serif;
}
@media(max-width:768px){
    body{
        background-color: blue;
        font-family: "Inter", sans-serif;
    }
    
}
